configuration {

	modi: "drun,calc:qalc,window,run";
	width: 75;
	show-icons: true;
	icon-theme: "papirus";
	lines: 10;
	fake-transparency: true;
	sidebar-mode: true;
	
}


@import "/usr/share/rofi/themes/Paper.rasi"
